<div class="card w-75 my-5 mx-auto">
  <div class="card card-header text-center">
    <h4>{{ note.title | titlecase }}</h4>
    <small>
      <span
        class="text-dark font-italic"
        [innerHTML]="'Created: ' + (note.createdOn | date)"
      ></span>
    </small>
  </div>
  <div class="card-body">
    <div class="card-text lead" [innerHTML]="note.content | keepHtml"></div>
  </div>
  <div class="card card-footer">
    <div class="text-secondary font-italic small text-right">
      Modified: {{ note.lastModified | date }}
    </div>

    <div class="btn-group">
      <button class="btn-md btn-warning mr-2 rounded-sm" (click)="editNote()">
        Edit
      </button>
      <button class="btn-md btn-danger mr-2 rounded-sm" (click)="deleteNote()">
        Remove
      </button>
    </div>
  </div>
</div>
