<section id="welcome">
  <div class="container-fluid bg-white text-center py-5">
    <h2 class="text-dark font-weight-bold font-lato display-3">
      Welcome to <span class="text-primary">Note</span> !!
    </h2>
    <p class="text-dark font-weight-light font-roboto-slab h4 display-5">
      Note is an awesome web application built on <u>MEAN</u> stack.
    </p>
  </div>
</section>

<section id="features">
  <div class="container-fluid text-center py-5">
    <div class="mx-auto w-75">
      <h3 class="text-dark font-weight-bold font-lato display-4">
        Always wanted a
        <span class="text-decoration-underline">stylish</span> note taking app ?
      </h3>
      <p class="w-75 mx-auto h5 display-5 text-dark font-roboto-slab">
        <span class="h4">This application has got you covered. </span><br />
        You can decorate the text in your note with highlighted-colors and
        transformations like managing alignment etc. <br />
        <span class="blockquote-footer mt-3 ">
          <a href="#" class="h4 text-secondary font-weight-bold"> Try it ! </a>
          It's simple and amazing.</span
        >
      </p>
    </div>
  </div>
</section>

<section id="view">
  <div class="container-fluid text-center py-5">
    <div class="mx-auto w-75">
      <h3 class="font-weight-bold display-4">You keep diary entry ?</h3>
      <div id="note-image" class="d-none d-md-block w-75 mx-auto"></div>
      <p class="w-75 mx-auto h5 mt-3 display-5 text-dark font-roboto-slab">
        Whatever you note down will be saved with the date of entry for your
        convenience. If you ever modify any note, then the modification date is
        also preserved.
      </p>
    </div>
  </div>
</section>

<section id="connectme">
  <div class="container-fluid text-center py-5">
    <div class="mx-auto w-75">
      <h3 class="text-dark font-weight-bold font-lato display-4">
        Connect with me
      </h3>
      <p class="w-75 mx-auto h5 display-5 text-dark font-roboto-slab">
        ...on <a href="#">Linked In</a> or <a href="#">Github</a>.
        <br />
        I'm very much passionate about learning new technologies and
        implementing them.
      </p>
    </div>
  </div>
</section>

<section id="thanks">
  <div class="container-fluid text-center py-5">
    <div class="mx-auto w-75">
      <h4 class="font-lato">
        "Thanks You, for your time in viewing my work !! "
      </h4>
      <div class="w-50 mx-auto h5 display-5 font-roboto-slab">
        <span class="text-light h4">Pass a word</span>
        <form>
          <div class="form-group w-50">
            <label for="name" class="text-light float-left font-oswald"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="John"
            />
          </div>
          <div class="form-group">
            <label for="comment" class="text-light float-left font-oswald"
              >Comment</label
            >
            <textarea
              class="form-control text-dark"
              name="comment"
              id="comment"
              rows="5"
            ></textarea>
          </div>
          <div class="form-group float-left">
            <input class="btn btn-light font-oswald" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <section id="footer">
  <div class="container row align-items-center mx-auto py-5 text-light">
    <div id="left-footer" class="col col-md-5 mr-1">
      <h4 class="font-weight-bold">Contact Me</h4>
      <p>
        <span class="cite">Tel:</span
        ><span class="text-danger font-italic">+91 123456789</span>
      </p>

      <p>
        <span class="cite">email:</span
        ><span class="text-primary font-italic"
          >debadattameher747@gmail.com</span
        >
      </p>
    </div>
    <div id="right-footer" class="col col-md-5 ml-1">
      <h4 class="font-weight-bold">About Me</h4>
      <div>
        I'm <span class="text-decoration-underline">Debadatta Meher</span><br />
        B. Tech, M. Tech in Computer Science <br />
        NIT, Rourkela
      </div>
    </div>
  </div>
</section>
 -->
