<section id="login">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form class="col-md-5 mt-5" #signupForm="ngForm" (ngSubmit)="handleSignup(signupForm)">

                <div *ngIf="message" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> {{message}}
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ngModel name="name" id="name" placeholder="John Doe">
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" ngModel name="username" id="username" placeholder="">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" ngModel name="password" id="password">
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" class="form-control" ngModel name="email" id="email">
                </div>

                <div class="form-group">
                    <button type="submit" class="btm btn-primary mr-2"> Signup </button>
                    <button type="reset" class="btm btn-warning mr-2"> Reset </button>
                </div>
            </form>
        </div>
    </div>

</section>


<!--



 -->
