<section id="user-new-note" class="container-fluid mt-5">
  <div class="row mx-auto" style="max-width: 85%">
    <form #noteForm="ngForm" (ngSubmit)="updateNote(noteForm)">
      <div class="d-block col-md-4 mx-auto">
        <div class="form-group">
          <input
            type="text"
            [value]="note.title"
            id="noteTitle"
            class="form-control text-center text-capitalize text-dark display-3 font-weight-bold"
          />
        </div>
      </div>
      <div class="col pt-3">
        <div class="form-group mx-auto p-3">
          <quill-editor [(ngModel)]="noteContent" name="noteContent">
          </quill-editor>
        </div>
      </div>
      <div class="col col-md-2 float-right">
        <button class="btn btn-danger btn-block" (click)="cancelEditing()">
          Cancel
        </button>
      </div>
      <div class="col col-md-2 float-right">
        <button
          type="button"
          class="btn btn-warning btn-block"
          (click)="resetNoteContent()"
        >
          Reset
        </button>
      </div>
      <div class="col col-md-2 float-right">
        <button type="submit" class="btn btn-primary btn-block">
          Update
        </button>
      </div>
    </form>
  </div>
</section>
