<div class="note-container card text-center m-1">
  <div class="card-header">
    <h5>{{ note.title }}</h5>
    <span
      class="badge badge-pill badge-info font-italic card-text float-md-right"
    >
      -{{ note.createdOn | date }}
    </span>
  </div>
  <div class="card-body">
    <p class="card-text" [innerHTML]="note.content | stripHTML | shorten"></p>
    <button class="btn btn-primary" (click)="noteViewClickHandler()">
      View
    </button>
  </div>
  <div class="card-footer text-muted">
    {{ note.lastModified | date }}
  </div>
</div>
